.projectGrid {
    position: relative;
    text-align: center;
    color: white;
    height:100%;
    overflow: hidden;
}

.projectGrid img {
    transition: .3s ease;
}

.projectGrid:hover {
    opacity: 30%;
    transform: scale(1.02); 
}

.projectGridOverlay {
    padding: 10px;
    position: absolute;
    top: 15%;
    width: calc(100% - 20px);
    opacity: 0;
    transition: .3s ease;
}

.projectGridButtons {
    position: absolute;
    bottom: 5%;
    left: calc(50% - 78px);
    opacity: 0;
    transition: .3s ease;
}