iframe {
    position: relative;
    margin: 0px;
    border: 0;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: 0px;
    max-width: 100vw;
    min-height: 0px;
    max-height: none;
    width: 100vw;
    height: calc(100vh + 3px);
    z-index: 4;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    z-index: 5;
    color: white!important;
    text-decoration: none!important;
    cursor: pointer;
}